<ion-header>
  <ion-toolbar>
    <ion-title>Препознавање болест кај растенија</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="takePicture()">Сликај</ion-button>
  <img [src]="imageUrl" *ngIf="imageUrl" />
  <ion-card *ngIf="prediction_translated">
    <ion-card-header>
      <ion-card-title>Резултат:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ prediction_translated }}
    </ion-card-content>
  </ion-card>
</ion-content>
